body {
    background-color: #0a0a0a;
    color: #00ff00;
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}
h1 {
    text-align: center;
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    margin-top: 20px;
    /* make it uncopyable text */
    user-select: none;
}
th,
td {
    padding: 10px;
    text-align: left;
    background-color: #1a1a1a;
    border: 1px solid #00ff00;
}
th {
    background-color: #2a2a2a;
    color: #ff5f5f;
}
tr:hover {
    background-color: #2a2a2a;
}
.glitch {
    animation: glitch 1s linear infinite;
}
@keyframes glitch {
    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }
    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}
.hidden {
    display: none;
}